{% extends "base.html" %}

{% block content %}
    <div style="text-align:center">
        <h1>DeepSticker Cutting Recognition</h1>
        <hr style="border: solid 2px">
        <br>
    </div>

    <div style="text-align:center">
        <h2>Object Detection</h2>
        <br>
        <h3 style="width:1800px">Get Coordinate & Class</h3>
        <form action ="http://127.0.0.1:5000/api/recognition/object-value" method = "POST"
              enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type="submit" />
        </form>
        <br>
        <h3 style="width:1750px">Get Result Image</h3>
        <form action ="http://127.0.0.1:5000/api/recognition/object-img" method = "POST"
              enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type="submit" />
        </form>
        <br>

        <hr>
        <br>

        <h2>Available Place</h2>
        <br>
        <h3 style="width:1800px">Get Coordinate & Class</h3>
        <form action ="http://127.0.0.1:5000/api/recognition/place-value" method = "POST"
              enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type="submit" />
        </form>
        <br>
        <h3 style="width:1750px">Get Result Image</h3>
        <form action ="http://127.0.0.1:5000/api/recognition/place-img" method = "POST"
              enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type="submit" />
        </form>
        <br>

        <hr>
        <br>
        <form action ="http://127.0.0.1:5000/api/recognition/eta-value" method = "POST"
              enctype = "multipart/form-data">
            <div><a href="http://127.0.0.1:5000/api/recognition/eta-value"><h2>eta-value</h2></a></div>
        </form>
        <br>
        <form action ="http://127.0.0.1:5000/api/recognition/eta-img" method = "POST"
              enctype = "multipart/form-data">
            <div><a href="http://127.0.0.1:5000/api/recognition/eta-img"><h2>eta-image</h2></a></div>
        </form>
        <br>
        <div><a href="http://127.0.0.1:5000/stream"><h2>streaming</h2></a></div>
    </div>



{% endblock %}